# Building a coffee machine energy systems model 

*This example is designed for the beginners to understand the basics of MESSAGEix framework.*

# A stylized reference energy system model 

<img src="coffee_system.png">

# Let's start!

## 1) Importing required packages

In [1]:
import message_ix
import ixmp 
import pandas as pd

In [2]:
mp = ixmp.Platform(name = 'local')

## 2) Building a new empty MESSAGEix scenario

In [3]:
model = 'coffee_energy_model'
scenario = 'test'
scen = message_ix.Scenario(mp, model, scenario, version = 'new', annotation = 'â€¦')

In [4]:
scen.version

0

## 3) Adding spatial & temporal detail

In [5]:
scen.add_set('node','my_home')
scen.add_set('year',[2020,2021])

In [28]:
#scen.set_list()

In [7]:
scen.add_set('technology', 'coffee_maker')
scen.add_set('commodity', ['water', 'electr', 'coffee_beans', 'coffee_cup']) 
scen.add_set('level', ['pipe', 'storage', 'grid', 'useful'])
scen.add_set('mode', 'normal') # modes of operation of a technology

In [8]:
scen.set('commodity')

0           water
1          electr
2    coffee_beans
3      coffee_cup
dtype: object

## 4) Adding data to parameters

In [9]:
scen.par_list()

['commodity_stock',
 'demand',
 'resource_cost',
 'resource_remaining',
 'bound_extraction_up',
 'resource_volume',
 'technical_lifetime',
 'capacity_factor',
 'operation_factor',
 'min_utilization_factor',
 'inv_cost',
 'fix_cost',
 'var_cost',
 'output',
 'input',
 'abs_cost_new_capacity_soft_up',
 'abs_cost_new_capacity_soft_lo',
 'level_cost_new_capacity_soft_up',
 'level_cost_new_capacity_soft_lo',
 'abs_cost_activity_soft_up',
 'abs_cost_activity_soft_lo',
 'level_cost_activity_soft_up',
 'level_cost_activity_soft_lo',
 'bound_new_capacity_up',
 'bound_new_capacity_lo',
 'bound_total_capacity_up',
 'bound_total_capacity_lo',
 'bound_activity_up',
 'bound_activity_lo',
 'initial_new_capacity_up',
 'growth_new_capacity_up',
 'soft_new_capacity_up',
 'initial_new_capacity_lo',
 'growth_new_capacity_lo',
 'soft_new_capacity_lo',
 'initial_activity_up',
 'growth_activity_up',
 'soft_activity_up',
 'initial_activity_lo',
 'growth_activity_lo',
 'soft_activity_lo',
 'emission_factor',
 'construction_time',
 'renewable_potential',
 'renewable_capacity_factor',
 'reliability_factor',
 'peak_load_factor',
 'flexibility_factor',
 'rating_bin',
 'tax',
 'subsidy',
 'historical_emission',
 'emission_scaling',
 'bound_emission',
 'tax_emission',
 'land_cost',
 'land_input',
 'land_output',
 'land_use',
 'land_emission',
 'initial_land_scen_up',
 'growth_land_scen_up',
 'initial_land_scen_lo',
 'growth_land_scen_lo',
 'initial_land_up',
 'dynamic_land_up',
 'growth_land_up',
 'initial_land_lo',
 'dynamic_land_lo',
 'growth_land_lo',
 'relation_upper',
 'relation_lower',
 'relation_cost',
 'relation_new_capacity',
 'relation_total_capacity',
 'relation_activity',
 'duration_period',
 'duration_time',
 'interestrate',
 'historical_extraction',
 'historical_new_capacity',
 'historical_activity',
 'historical_land',
 'ref_extraction',
 'ref_new_capacity',
 'ref_activity',
 'ref_relation',
 'fixed_extraction',
 'fixed_stock',
 'fixed_new_capacity',
 'fixed_capacity',
 'fixed_activity',
 'fixed_land',
 'historical_gdp',
 'share_commodity_up',
 'share_commodity_lo',
 'share_mode_up',
 'share_mode_lo',
 'addon_conversion',
 'addon_up',
 'addon_lo',
 'time_order',
 'storage_initial',
 'storage_self_discharge']

In [10]:
[x for x in scen.par_list() if 'land' in x]

['land_cost',
 'land_input',
 'land_output',
 'land_use',
 'land_emission',
 'initial_land_scen_up',
 'growth_land_scen_up',
 'initial_land_scen_lo',
 'growth_land_scen_lo',
 'initial_land_up',
 'dynamic_land_up',
 'growth_land_up',
 'initial_land_lo',
 'dynamic_land_lo',
 'growth_land_lo',
 'historical_land',
 'fixed_land']

In [11]:
scen.idx_names('demand')

['node', 'commodity', 'level', 'year', 'time']

In [17]:
df = pd.DataFrame ({'node' : 'my_home',
                    'commodity' : 'coffee_cup',
                    'level' : 'useful', 
                    'year' : [2020,2021],
                    'value' : [400, 500], 
                    'unit' : '-',
                    'time': 'year'
                   })

In [15]:
df

      node   commodity  level  year  value unit  time
0  my_home  coffee_cup  final  2020    400    -  year
1  my_home  coffee_cup  final  2021    500    -  year

In [18]:
scen.add_par('demand', df)

In [19]:
scen.par('demand')

      node   commodity   level  year  time  value unit
0  my_home  coffee_cup  useful  2020  year  400.0    -
1  my_home  coffee_cup  useful  2021  year  500.0    -

In [22]:
scen.idx_names('output')

['node_loc',
 'technology',
 'year_vtg',
 'year_act',
 'mode',
 'node_dest',
 'commodity',
 'level',
 'time',
 'time_dest']

In [25]:
df = pd.DataFrame({'node_loc': 'my_home',
                   'node_dest': 'my_home',
                   'technology': 'coffee_maker',
                   'commodity': 'coffee_cup',
                   'level': 'useful',
                   'year_vtg': [2020, 2021],   # once installed can be active only one period
                   'year_act': [2020, 2021],
                   'mode': 'normal',
                   'value': 1.0,
                   'unit': '-',
                   'time': 'year',
                   'time_dest': 'year',
                  })
df

,node_loc,node_dest,technology,commodity,level,year_vtg,year_act,mode,value,unit,time,time_dest
0,my_home,my_home,coffee_maker,coffee_cup,useful,2020,2020,normal,1.0,-,year,year
1,my_home,my_home,coffee_maker,coffee_cup,useful,2021,2021,normal,1.0,-,year,year

In [26]:
scen.add_par('output', df)

In [27]:
scen.par('output')

,node_loc,technology,year_vtg,year_act,mode,node_dest,commodity,level,time,time_dest,value,unit
0,my_home,coffee_maker,2020,2020,normal,my_home,coffee_cup,useful,year,year,1.0,-
1,my_home,coffee_maker,2021,2021,normal,my_home,coffee_cup,useful,year,year,1.0,-

## 5) Committing a scenario

In [29]:
scen.commit('my first commit')

In [30]:
#This command is for adding more stuff to the particular scenario instance after you have committed 
#scen.check_out

## 6) Solving a scenario

In [31]:
scen.solve()

In [32]:
scen.var('OBJ')

{'lvl': 0.0, 'mrg': 0.0}

In [33]:
scen.var('ACT')

  node_loc    technology  year_vtg  year_act    mode  time    lvl  mrg
0  my_home  coffee_maker      2020      2020  normal  year  400.0  0.0
1  my_home  coffee_maker      2021      2021  normal  year  500.0  0.0

In [34]:
mp.close_db()  # This command closes the database

In [35]:
# mp.open_db() #This command can be used to open data database again

## 7) Homework

Please add another year in the model such as 2022. Make sure you make the model consistent throughout the script we did during th workshop session. You may use the same script while noticing where to make changes for addition of a year in your model.